<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %> <br>

    <strong>Author:</strong>
    <%= book.author %> <br> 

    <strong>Price:</strong> 
    <%= number_to_currency(book.price) %> <br> 

    <strong>Published:</strong>
    <%= book.published %> <br> 
  </p>

</div>
